
<!DOCTYPE html>
<html lang="en">
 
<head></head>
 
<body>
    <h1 class="text-center title-1"> Lista de Contatos </h1>
    <ul>
        <% docs.forEach((clientes_users)=> { %>
            <li><a>
                    <%= clientes_users.whatsapp %>

                </a></li>
            <%})%>
    </ul>
</body>
 
</html>

